.node {
  height: 50px;
  width: 50px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  float: left;
}
.node-wall {
  background-color: darkblue;
}
.node-shortestpath {
  background-color: darkgoldenrod;
}
.node-visited {
  background-color: blue;
}
.node-start {
  background-color: red;
}
.node-end {
  background-color: green;
}
